@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {

--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(images/bg-header-desktop.png) no-repeat;
}

p {
    color: var(--Grayish-Blue);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;   
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 30px;
}

h1 {
    margin-top: 20px;
}

.clip-1 {
    margin: 20px 70px 20px 70px;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

button {
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    color: white;
}

.btn-1 {
    margin-right: 20px;
    background-color: var(--Strong-Cyan);
}

.btn-2 {
    background-color: var(--Light-Blue);
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 6px 5px 16px 2px rgba(159,159,159,0.75);
}

.id-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.clip-2 {
    margin: 20px 70px 0px 70px;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 5px;
}

section img {
    width: 350px;
    height: 300px;
    margin-left: -10px;
    margin-right: 20px;
}

.more {
    width: 340px;
    margin-right: 10px;
}

.desc {
    display: block;
    margin-bottom: 10px;
    height: 100px;
}

.des-1 {
    margin-bottom: 30px;
}

.des-3 {
    margin-bottom: 10px;
}

.dev {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dev p {
    margin: 20px 70px 30px 70px;
    text-align: center;
}

.dev img {
    width: 450px;
    height: 300px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.title h2 {
    margin-bottom: 10px;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 30px;
}

.det {
    display: block;
    text-align: center;
    width: 340px;
}

.det h3 {
    margin: 30px;
}

.det p {
    font-size: 16px;
}

.det-1 {
    margin-right: 30px;
}

.companies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 50px 0;
}

.soft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
}

.soft p {
    text-align: center;
    margin: 20px 100px 0px 100px;
}

.anchors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.anchors a {
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 30px;
    color: white;
    margin-bottom: 60px;
}

.anchors a:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 6px 5px 16px 2px rgba(159,159,159,0.75);
}

.ios {
    margin-right: 20px;
    background-color: var(--Strong-Cyan);
}

.mac {
    background-color: var(--Light-Blue);
}

footer {
    padding: 45px;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 4fr minmax(170px, 1fr);
    background-color: hsl(201, 11%, 89%);
}

.logo-f {
    width: 55px;
}

.add {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 120px));
    gap: 20px;
}

.add p:hover {
    color: black;
    cursor: pointer;
}

.social {
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: inherit;
    gap: 5px;
}

.social img:hover {
    opacity: 0.5;
    background-color: blue;
}

.attribution { 
    font-size: 24px;
    text-align: center; 
    color: rgba(255, 123, 0, 0.897);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-family: serif;
}

.attribution a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}